# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
activate/

# Tooling caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Coverage
.coverage
htmlcov/
